extends ../layout/layout
block content
    main.main__content
        .content__about
            .breadcrumbs.about__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        span О нас
                h1.main__title--h1 О нас
            section.about__text
                
                p Компания GMC была создана в 2010 году и является консалтинговой компанией в области горного дела и переработки полезных ископаемых. Эксперты компании имеют огромный опыт в области добычи, переработки полезных ископаемых и инфраструктуры горнодобывающих предприятий. Опыт компании базируется на сочетании оптимальной международной практики и глубокого понимания специфики российского горнодобывающего сектора. При оказании услуг мы используем комплексное понимание практики горного дела, промышленного производства, законодательства и регулирования в России и в странах СНГ в сочетании с международным опытом и знанием передовых технологий. Персонал имеет многолетний опыт в предоставлении профессиональных услуг в горнодобывающем секторе России и стран СНГ, а также опыт работы в реальном секторе производства, проектировании и проведении научно-исследовательских работ. Ряд экспертов является независимыми экспертами Государственной Комиссии по Запасам, сертифицированными Ростехнадзором экспертами в области промышленной безопасности, членами российских международных профессиональных сообществ, Компетентными лицами RPO CRIRSCO. Эксперты имеют опыт работы по широкому спектру проектов, начиная от небольших проектов Greenfield, Brownfield до Feasibility Study освоения крупных месторождений минерального сырья.
                br
                p С 2015 года GMC имеет дочернюю структуру в Казахстане – ТОО “GMC”.
                br
                p Широкое знание рынка услуг горного консалтинга позволяет нам предлагать оптимальные решения для наших клиентов, совмещать современные международные подходы к проектированию объектов инфраструктуры и горных производств с российским опытом проектирования. Мы имеем тесные контакты с ведущими проектными институтами и специализированными организациями горной отрасли. 

            section.about__features.a-features
                ul.a-features__list
                    li.a-features__item
                        .a-features__icon.a-features__icon--adress
                        p
                            | Головной офис компании расположен в г. Москва и имеет представительство в республике Казахстан (г. Алматы)
                    li.a-features__item
                        .a-features__icon.a-features__icon--pass
                        p
                            | Персонал компании имеет огромный опыт выполнения работ практически со всеми видами минерального сырья. В нашем распоряжении имеется штат российских и международных профессиональных экспертов, а также более 100 ассоциированных экспертов, готовых предоставить свои знания и опыт для выполнения любых задач.
                    li.a-features__item
                        .a-features__icon.a-features__icon--network
                        p
                            | Мы находимся в тесном контакте со многими ведущими проектными и исследовательскими организациями России
            section.about__certs
                h2.certs__title Сертификаты и разрешения
                ul.certs__list
                    li.certs__item
                        a.certs__wrapper(href='download/license.png' target='_blank' )
                            img(src='download/license.png' alt='' width="125" height="175")
                    li.certs__item
                        a.certs__wrapper(href='download/certificate.png' target='_blank')
                            img(src='download/certificate.png' alt='' width="125" height="175")
            section.about__downloads
                .downloads__list
                    .downloads__item
                        a(href='download/gmc_consulting.pdf' target="_blank")
                            span.downloads__link.downloads__link--pdf
                                | Посмотреть
                                br
                                | презентацию компании
                    .downloads__item
                        a(href='download/СРО_Лига_Изыскателей.pdf' target="_blank" download)
                            span.downloads__link.downloads__link--pdf
                                | Уведомление о включении в реестр
                                br
                                | Саморегулироуемой организации 
                                br
                                | "Лига Изыскателей"
                    .downloads__item
                        a(href='download/СРО_Совет_Проектировщиков.pdf' target="_blank" download)
                            span.downloads__link.downloads__link--pdf
                                | Уведомление о включении в реестр
                                br
                                | Саморегулироуемой организации
                                br
                                | "Совет проектировщиков"
