extends ../layout/layout
block content
    main.main
        section.contacts__wrapper
            h1.contacts__title Контакты
            #map.contacts__map
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.8842597246203!2d37.59651071593146!3d55.77788198056008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a179fa8afd7%3A0xb897ee9f4c27f12a!2z0YPQuy4g0KfQsNGP0L3QvtCy0LAsIDIyLCDQnNC-0YHQutCy0LAsIDEyNTA0Nw!5e0!3m2!1sru!2sru!4v1546074077543' frameborder='0' style='border:0' allowfullscreen='')
            .contacts__hero
                .contacts__info
                    .contacts__adress
                        .contacts__adress--moscow
                            h5.contacts__city Москва
                            .contacts__text
                                a(href='tel:+74993901214') +7 (499) 390 1214
                                a(href='mailto:consulting@gmc-consulting.ru') consulting@gmc-consulting.ru
                                span
                                    | 125047, г.Москва, ул. Чаянова, д. 22,
                                    | стр. 4, этаж 2, пом. 1, ком. 11
                        .contacts__adress--almati
                            h5.contacts__city Алматы
                            .contacts__text
                                a(href='tel:+77478030759') +7(747) 803 0759
                                a(href='mailto:consulting@gmc-consulting.ru')  kz-office@gmc-consulting.ru
                            

                    .contacts__form
                        form.feedback(action='mailto:consulting@gmc-consulting.ru')
                            .feedback__wrapper
                                h2 Хотите задать вопрос?
                                input.feedback__name(type='text' s='' placeholder='Ваше имя' name='name' required='')
                                input.feedback__email(type='email' placeholder='Ваш Email' name='email' required='')
                                textarea.feedback__text(placeholder='Ваше сообщение' name='descr' rows='4' required='')
                                button.form__submit(type='submit') Отправить
                                p
                                    | Нажимая кнопку "Отправить" вы даете согласие на обработку ваших личных даных в соответствии с ФЗ РФ от 27.07.2006 года № 152-ФЗ «О персональных данных»
                                button.feedback__close(type='button' onclick="document.getElementById('popup').style.display='none'")
