extends ../layout/layout
block content
    main.main
        .main__content.content__documents
            .breadcrumbs.documents__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        span Документы
            section.documents__description
                h1.main__title--h1 Документы
                p.main__text
        section.documents__content
            .documents__filter
                button#showAll.documents__button.documents__button--active(type='button')
                    span Все
                button#showCodex.documents__button(type='button')
                    span Кодексы
                button#showArticles.documents__button(type='button')
                    span Статьи и публикации
                button#showRecoms.documents__button(type='button')
                    span Методические рекомендации
            section.documents__results
                #codex.documents__block.documents__codex
                    h3.block__header Кодексы
                    .block__wrapper
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/jorc.pdf' target="blank" download) JORC Code
                            p.item__text
                                | Сборник международных горных кодексов JORC. Издание 2012 года. 
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/valmin.pdf' target="blank" download) Кодекс Valmin
                            p.item__text
                                | Автралоазиатский Кодекс Публичной Отчетности по Технической и Экономической оценкам Минерально-Сырьевых Активов.
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/ni43.pdf' target="blank" download) Национальный Инструмент 43-101 (NI 43-101)
                            p.item__text
                                | Стандарты раскрытия информации по минерально-сырьевым проектам.
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/classification.pdf' target="blank" download) Австралийское руководство по оценке и классификации угольных ресурсов
                            p.item__text
                                    
                #articles.documents__block.documents__articles
                    h3.block__header Статьи и публикации
                    .block__wrapper
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/rmt.pdf' target="blank" download) Экспорт инновыций и технологий - RMT
                            p.item__text
                                | "Russian Mining Technologies" обладает широкими связями с машиностроительными и научно-исследовательскими организациями в России и за рубежом.
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/tpi_features.pdf' target="blank" download) Особенности и характеристика различных систем отчётности о запасах ТПИ
                            p.item__text
                                | Аналитический практический анализ, материалы ООН, CRIRSCO, ГКЗ, ВИМС, IMC)
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/new_class.pdf' target="blank" download) Новая Российская классификация запасов и прогнозных ресурсов ТПИ
                            p.item__text
                                | Новая классификация и её гармонизация с зарубежными системами отчетности
                #recoms.documents__block.documents__recoms
                    h3.block__header Методические рекомендации
                    .block__wrapper
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/tpi_recommendations.pdf' target="blank" download) Классификация запасов ТПИ
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/au.pdf' target="blank" download) Золото
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/cu.pdf' target="blank" download) Медь
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/molibden.pdf' target="blank" download) Молибден
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/pb-zn.pdf' target="blank" download) Свинец и цинк
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/ni-co.pdf' target="blank" download) Никель и кобальт
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/fe.pdf' target="blank" download) Железные руды
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/coal.pdf' target="blank" download) Угли и горючие сланцы
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/magnesite.pdf' target="blank" download) Магнезит и бурсит
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/quarz.pdf' target="blank" download) Кварц
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/phosphorites.pdf' target="blank" download) Фосфатные руды
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/salts.pdf' target="blank" download) Соли
                            p.item__text
                        .documents__item
                            img.item__title(width='38' height='48' src='img/icons/pdf.png' alt='')
                            h4.item__header
                                a(href='download/documents/recommendations/asbestos.pdf' target="blank" download) Асбест
                            p.item__text
