extends ../layout/layout
block link
    link(rel='stylesheet' type='text/css' href='css/slick.css')
    link(rel='stylesheet' type='text/css' href='css/slick-theme.css')
        
block content
    main.main
        .main__hero
            .hero__slider.h-slider
                div
                    .h-slider__slide
                        .h-slider__wrapper
                            h2.h-slider__title
                                | Консалтинг
                                br
                                |  в горной
                                br
                                |  промышленности
                            p.h-slider__slogan Вы ставите задачу - мы ее решаем
                div
                    .h-slider__slide
                        .h-slider__wrapper
                            h2.h-slider__title
                                | Развитие  
                                br
                                | инвестиционного климата
                            p.h-slider__slogan Вы ставите задачу - мы ее решаем
                div
                    .h-slider__slide
                        .h-slider__wrapper
                            h2.h-slider__title
                                | Поддержка проектов
                                br
                                | освоения месторождений
                                br
                                | твердых полезных ископаемых
                            p.h-slider__slogan Вы ставите задачу - мы ее решаем
        .main__wrapper
            section.main__services
                ul.services__list
                    li.services__item.service                        
                        h3
                            a(href='#').services__title-link Горно-геологический аудит
                        
                    li.services__item.service
                        
                        h3
                            a(href='#').services__title-link Инженерно-технический консалтинг
                        
                        p
                        
                    li.services__item.service
                        h3 
                            a(href='#').services__title-link Инженерное проектирование
                       
                        p
                    li.services__item.service
                        h3 
                            a(href='#').services__title-link Моделирование
                        u
                        p
                    li.services__item.service
                        h3 
                            a(href='#').services__title-link Сопровождение исследований
                        
                        p
                    li.services__item.service
                        h3
                            a(href='#').services__title-link Переработка полезных ископаемых
                       
                        p
                    li.services__item.service
                        h3
                            a(href='#').services__title-link Инвестиционный анализ
                        
                        p
                    li.services__item.service
                        h3
                            a(href='#').services__title-link Социальное и экологическое воздействие
                        
                                
                    li.services__item.service
                        h3
                            a(href='#').services__title-link Планирование инфраструктуры производства
                       
                        p
            section.main__projects
                .projects__wrapper
                    .projects__hero
                    h2.projects__title
                        | Более 60 реализованных проектов
                        br
                        | за 2010 – 2019 г.
                    .projects__slider-wrap
                        .projects__tabs
                            button.projects__tab.projects__tab--active(onclick="openTab(event, 'ru'); $('.p-slider--one').slick('reinit');")
                                span Россия
                            button.projects__tab(onclick="openTab(event,'by'); $('.p-slider--two').slick('reinit');")
                                span Белоруссия
                            button.projects__tab(onclick="openTab(event,'ua'); $('.p-slider--three').slick('reinit'); ")
                                span Украина
                            button.projects__tab(onclick="openTab(event,'kz'); $('.p-slider--four').slick('reinit');")
                                span Казахстан
                        #ru.projects__slider.p-slider.p-slider--one
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ООО "Инжиниринговая компания "2К"
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Подготовка заключения о технической состоятельности проекта строительства горно-обогатительного комбината
                                    .p-slide__place
                                        h4 Расположение
                                        p Республика Саха (Якутия)
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ПАО "Соль Руси"
                                    .p-slide__text
                                        h4 Вид работ
                                        p Pre-Feasibility Study отработки Белбажского месторождения каменных солей
                                    .p-slide__place
                                        h4 Расположение
                                        p Нижегородская обл.
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 АО "НЭО Центр"
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Проведение части технологического и ценового аудита инвестиционного проекта "Строительство объектов окончательной изоляции"
                                    .p-slide__place
                                        h4 Расположение
                                        p Красноярский край, Нижне-Канский массив
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ООО "Комплексные Горнодобывающие Инвестиции"
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Заключение о возможности сравнительной оценки "Северо-Красноборского" месторождения
                                    .p-slide__place
                                        h4 Расположение
                                        p Калининградская область
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ОАО "Донской уголь"
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Подготовка заключения об экономической эффективности развития шахт "Шерловская-Наклонная" и "Обуховская №1"
                                    .p-slide__place
                                        h4 Расположение
                                        p Ростовская обл.
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ООО "Забайкальское горнорудное предприятие"
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Разработка технико-экономических предложений по освоеднию участка "Окинский-2"
                                    .p-slide__place
                                        h4 Расположение
                                        p Республика Бурятия
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Институт "Якутнипроалмаз" АК "Алроса" (ОАО)
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Обоснование оптимальных границ и рационального графика развития производственной мощности при отработке месторождения трубки "Ботубинская"
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Саха (Якутия)

                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3  ЗГРП, VI Holding
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | ТЭП Кавокта, нефрит
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Бурятия
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                       h3   ЗГРП, VI Holding
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            |  ТЭП Окинский 2, нефрит
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Бурятия
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3  ЗГРП, VI Holding
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | ТЭП Баунтовский, нефрит
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Бурятия
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Иностранный инвестор
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Заключение по разрезу Степановский
                                    .p-slide__place
                                        h4 Расположние
                                        p Кемеровская обл.
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Иностранный инвестор
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Scoping Study угольного участка Устье Реки
                                    .p-slide__place
                                        h4 Расположние
                                        p Забайскальский край
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ЧК "Ренова"
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Заключение по угольному месторождению Аршановский
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Хакасия
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Администрация республики Коми
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Подготовка презентационного материала по группам полезных ископаемых Республики Коми
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Коми
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ООО «АФТ Трейд»
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            |   Предварительный технико-экономический анализ эффективности разработки Аскизского каменноугольного месторождения
                                    .p-slide__place
                                        h4 Расположние
                                        p Республика Хакасия
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 ООО «ИТЛ Групп»
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Scoping Study освоения участка Новоказанский-2
                                    .p-slide__place
                                        h4 Расположние
                                        p   Кемеровская обл.
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Северная Грузовая Компания
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Scoping Study освоения участка Лебединский, Истокский
                                    .p-slide__place
                                        h4 Расположние
                                        p   Кемеровская обл.
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3  ООО «ИТЛ Групп»
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            |   Scoping Study освоения участка Западный
                                    .p-slide__place
                                        h4 Расположние
                                        p Новосибирская обл.
                        #by.projects__slider.p-slider.p-slider--two(style='display: none;')
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3  НПЦ по геологии
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Подготовка горно-технической части ТЭО проекта постоянных кондиций для подсчета запасов Смоловского участка Старобинского месторождения калийных солей
                                    .p-slide__place
                                        h4 Расположение
                                        p Република Беларусь
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3  НПЦ по геологии
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Подготовка горно-технической части ТЭО проекта постоянных кондиций для подсчета запасов Смоловского участка Старобинского месторождения калийных солей
                                    .p-slide__place
                                        h4 Расположение
                                        p Република Беларусь
                        #ua.projects__slider.p-slider.p-slider--three(style='display: none;')
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Украинский инвестор
                                    .p-slide__text
                                        h4 Вид работ
                                        p   Заключение по Носачевскому апатит-ильменитовому месторождени
                                    .p-slide__place
                                        h4 Расположение
                                        p Черкасская область, Украина
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Украинский инвестор
                                    .p-slide__text
                                        h4 Вид работ
                                        p   Заключение по Носачевскому апатит-ильменитовому месторождени
                                    .p-slide__place
                                        h4 Расположение
                                        p Черкасская область, Украина
                        #kz.projects__slider.p-slider.p-slider--four(style='display: none;')
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3 Самрук - Казына
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | Проведение технического аудита юридического лица (АО "Сырымбет") и месторождения олова в рамках совместной реализации инвестиционного проекта "Разработка месторождения олова "Сырымбет" и строительство горно-металлургического комплекса"
                                    .p-slide__place
                                        h4 Расположение
                                        p Республика Казахстан
                            div
                                .p-slider__slide.p-slide
                                    .p-slide__title
                                        h3  ТОО «Есіл-Mining»
                                    .p-slide__text
                                        h4 Вид работ
                                        p
                                            | QA/QC геологоразведочных работ месторождения Аксоран
                                    .p-slide__place
                                        h4 Расположение
                                        p Республика Казахстан
        section.main__features
            h2.features__title
                | Наши
                br
                |  преимущества
            .features__slider.f-slider
                div
                    .f-slider__slide
                        img(src='img/icons/team.png' alt='')
                        p.f-slider__text
                            | Многопрофильный состав команды экспертов для каждого проекта, учитыая его особенности
                div
                    .f-slider__slide
                        img(src='img/icons/mining.png' alt='')
                        p.f-slider__text
                            | Многолетний опыт в предоставлении профессиональных консалтинговых услуг в горнодобывающем секторе России и стран СНГ
                div
                    .f-slider__slide
                        img(src='img/icons/market.png' alt='')
                        p.f-slider__text
                            | Опыт работы в реальном секторе производства и проведении научно-исследовательких работ
                div
                    .f-slider__slide
                        img(src='img/icons/team.png' alt='')
                        p.f-slider__text
                            | Наши эксперты значатся в ГКЗ, Ростехнадзоре, ОЭРН, ЕСОЭН, ПОНЭН, IOM3 (Великобритания), AIG (Австралия), Академии Горных Наук и др.
                div
                    .f-slider__slide
                        img(src='img/icons/portfolio.png' alt='')
                        p.f-slider__text
                            | Специалисты компании работали по проектам компаний: Евраз, СУЭК, НЭО-Центр, PWC, Норильский Никель, Сарыарка-Майнинг, Central Asian Investement Consulting Company, Рефтинская ГРЭС, МОЭСК, ЗАО "Нефть Энерго Газ"
                div
                    .f-slider__slide
                        img(src='img/icons/experience.png' alt='')
                        p.f-slider__text
                            | Большой опыт работы с проектными исследовательскими организациями, финансовыми аудиторами и оценщиками активов.
                div
                    .f-slider__slide
                        img(src='img/icons/partnership.png' alt='')
                        p.f-slider__text
                            | Партнерство с международными консалтинговыми компаниями, такими как Global Mining Advisory Inc. (Канада) и  PHOENIX MINING CONSULTANS  (Великобритания)

        section.main__exp
            .exp__wrapper
                .exp__video
                    .video
                        video#stk-video(data-has-controls='true' poster='img/exp-poster.jpg' preload='' autoplay='' loop='' muted='' data-t='stk-player')
                            source(type='video/mp4' src='https://v.ftcdn.net/01/78/46/81/700_F_178468170_FmFFhNoKThvR7WRUeJFpDj0FHcLgXiGc_ST.mp4')
                    ul.exp__list
                        li.exp__item
                            a.exp__mineral(href='exp/exp-optpgr.html' data-id='diamond') ОПТИМИЗАЦИЯ ПГР
                        li.exp__item
                            a.exp__mineral(href='exp/exp-optogr.html' data-id='diamond') ОПТИМИЗАЦИЯ ОГР
                        li.exp__item
                            a.exp__mineral(href='exp/exp-cpt.html' data-id='diamond') ЦПТ / КОНВЕЕРНЫЕ СИСТЕМЫ
                        li.exp__item
                            a.exp__mineral(href='exp/exp-tpi.html' data-id='diamond') ПЕРЕРАБОТКА ТПИ
                        li.exp__item
                            a.exp__mineral(href='exp/exp-grr.html' data-id='diamond') СОПРОВОЖДЕНИЕ ГРР / ИЗЫСКАНИЙ
                        li.exp__item
                            a.exp__mineral(href='exp/exp-geomech.html' data-id='diamond') ГЕОМЕХАНИЧЕСКОЕ МОДЕЛИРОВАНИЕ
                        li.exp__item 
                            a.exp__mineral(href='exp/exp-gidrogeo.html' data-id='diamond') ГИДРОГЕОЛОГИЧЕСКОЕ МОДЕЛИРОВАНИЕ
                    #exp1.exp__image
                    #exp2.exp__image
                    #exp3.exp__image
                    #exp4.exp__image
                    #exp5.exp__image
                    #exp6.exp__image
                    #exp7.exp__image
                .exp__content
                    h2 Опыт работы по инженерным направлениям
                    p
                        | В нашем распоряжении имеется штат российских
                        br
                        |  и международных профессиональных экспертов, а так же более 100 ассоциированных экспертов, готовых предоставить свои знания и опыт для выполнения любых задач.
                    a(href='download/gmc_consulting.pdf' target='_blank' download)
                        svg#pdf(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='45px' height='54px' viewbox='0 0 40 47' xml:space='preserve')
                            g
                                g#_x36_9_3_
                                    g
                                        path(d='M17.467,20.792c-0.248-0.287-0.572-0.527-0.972-0.721c-0.4-0.191-0.893-0.287-1.477-0.287h-4.416v8.568h2.641V25.76h1.56\
                        c0.488,0,0.938-0.062,1.351-0.188c0.411-0.123,0.768-0.312,1.067-0.563c0.299-0.252,0.532-0.567,0.696-0.948\
                        c0.164-0.38,0.246-0.83,0.246-1.351c0-0.305-0.054-0.627-0.162-0.973C17.893,21.395,17.716,21.079,17.467,20.792z M15.542,23.316\
                        c-0.084,0.125-0.192,0.217-0.324,0.277c-0.132,0.059-0.282,0.096-0.45,0.107c-0.168,0.011-0.336,0.018-0.504,0.018h-1.02v-1.74\
                        h1.176c0.16,0,0.316,0.006,0.468,0.02c0.152,0.012,0.286,0.045,0.402,0.102c0.116,0.055,0.208,0.139,0.276,0.252\
                        c0.067,0.111,0.102,0.264,0.102,0.455C15.668,23.023,15.626,23.193,15.542,23.316z')
                                        path(d='M26.383,21.11c-0.304-0.396-0.701-0.717-1.192-0.961c-0.492-0.244-1.096-0.365-1.808-0.365h-4.332v8.568h3.816\
                        c0.744,0,1.392-0.1,1.945-0.301c0.551-0.199,1.008-0.486,1.366-0.857c0.36-0.373,0.628-0.824,0.806-1.354\
                        c0.176-0.533,0.264-1.127,0.264-1.783c0-0.534-0.068-1.063-0.204-1.578C26.907,21.963,26.688,21.507,26.383,21.11z\
                        M24.542,24.691c-0.044,0.248-0.133,0.48-0.264,0.695c-0.133,0.217-0.322,0.398-0.57,0.547c-0.248,0.149-0.576,0.221-0.983,0.221\
                        h-1.032v-4.175h0.84c0.479,0,0.858,0.08,1.134,0.24c0.275,0.16,0.484,0.352,0.624,0.576c0.14,0.225,0.229,0.449,0.264,0.678\
                        c0.036,0.229,0.056,0.41,0.056,0.547C24.608,24.219,24.586,24.443,24.542,24.691z')
                                        polygon(points='28.387,28.352 31.028,28.352 31.028,25.089 34.448,25.089 34.448,23.048 31.028,23.048 31.028,21.979 \
                        35.011,21.979 35.011,19.784 28.387,19.784       ')
                                        path(d='M33.431,0H5.179v45.057h34.699V6.251L33.431,0z M36.878,42.056H8.179V3h23.706v4.76h4.992L36.878,42.056L36.878,42.056z')
                        span
                            | Скачать
                            br
                            |  Презентацию
        section.main__docs.slider
            h2.docs__title Документы
            .docs__slider.d-slider
                div
                    .d-slider__slide
                        h3.d-slider__title
                            a(href='download/documents/jorc.pdf') JORC Code
                        p.d-slider__text
                            | Сборник международных горных кодексов JORC. Издание 2012 года.
                div
                    .d-slider__slide
                        h3.d-slider__title
                            a(href='download/documents/ni43.pdf') Национальный Инструмент 43-101 (NI 43-101)
                        p.d-slider__text
                            | Стандарты раскрытия информации по минерально-сырьевым проектам.
                div
                    .d-slider__slide
                        h3.d-slider__title
                            a(href='download/documents/valmin.pdf') Кодекс Valmin
                        p.d-slider__text
                            | Автралоазиатский Кодекс Публичной Отчетности по Технической и Экономической оценкам Минерально-Сырьевых Активов.
                div
                    .d-slider__slide
                        h3.d-slider__title
                            a(href='download/documents/rmt.pdf') Экспорт инноваций и технологий - RMT
                        p.d-slider__text
                            | "Russian Mining Technologies" обладает широкими связями с машиностроительными и научно-исследовательскми организациями в России и за рубежом.
                div
                    .d-slider__slide
                        h3.d-slider__title
                            a(href='download/documents/tpi_features.pdf') Особенности и характеристика различных систем отчётности о запасах ТПИ
                        p.d-slider__text
                            | Аналитический практический анализ, материалы ООН, CRIRSCO, ГКЗ, ВИМС, IMC)
                div
                    .d-slider__slide
                        h3.d-slider__title
                            a(href='download/documents/new_class.pdf') Новая Российская классификация запасов и прогнозных ресурсов ТПИ
                        p.d-slider__text
                            | Новая классификация и её гармонизация с зарубежными системами отчетности
