extends ../layout/layout
block content
    main.main__content
        .content__business
            .breadcrumbs.business__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/about.html') О компании
                    li.breadcrumbs__item
                        span Вакансии
            section.jobs_container
                .jobs__text
                    h1.main__title--h1.jobs__title_pos Вакансии
                    p.main__text.jobs__p_pos В данный момент открытых вакансий нет.
                .jobs__staff
                    img(src='img/jobs_personal.png' alt='')
                    p По вопросам трудоустройства
                    a(href='mailto:coordinator@gmc-consulting.ru') coordinator@gmc-consulting.ru
