extends ../layout/layout
block content
    main.main__content
        .content__business
            .breadcrumbs.business__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='#') Услуги
                    li.breadcrumbs__item
                        span
                            | Комплексный анализ
                            | (Due Diligence) горных проектов
            section.business__description
                h1.main__title--h1
                    | Комплексный анализ
                    br
                    | (Due Diligence)
                    br
                    | горных проектов
                p.main__text
                    | Наша компания предлагает независимый комплексный анализ горного производства или проекта, нацеленный на объективное раскрытие и представление его текущего состояния. В результате выполняемой работы даётся оценка возможности поддерживать или наращивать объемы производства.
            section.business__content
                h4.business__title.main__title--h4 Среди анализируемых вопросов следующие:
                ul.business__list
                    li.business__item Обеспеченность минеральными ресурсами/запасами
                    li.business__item Состояние горного производства
                    li.business__item Состояние перерабатывающего производства
                    li.business__item Соответствие существующей инфраструктуры потребностям производства
                    li.business__item Обеспеченность персоналом
                    li.business__item Вопросы промышленной безопасности
                    li.business__item Вопросы охраны окружающей среды, экологические риски
                    li.business__item Экономическая оценка деятельности компании
                    li.business__item Оценка правовых и маркетинговых рисков
                p.business__text
                    | Данная работа выполняется как по заказу внешних инвесторов, так и по требованию собственников компании, намеренных получить объективную информацию о состоянии производства и узких местах различных производственных процессов.
