extends ../layout/layout
block content
    main.main__content
        .content__business
            .breadcrumbs.business__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/about.html') О компании
                    li.breadcrumbs__item
                        span Наша команда
            section.team_container
                h1.main__title--h1 Наша команда
            section.team_container
                h3.team__head__list
                    |  В состав GMC входят специалисты различных областей
                    br
                    | горнодобывающего сектора:
                ul.team__list
                    li.team__item горные инженеры
                    li.team__item геологи
                    li.team__item специалисты по переработке, обогащению и металлургии
                    li.team__item специалисты по охране окружающей среды
                    li.team__item горные экономисты
                    li.team__item специалисты по 3D моделированию
                    li.team__item специалисты по инфраструктуре и транспорту
                    li.team__item специалисты по промышленной безопасности и вентиляции
                    li.team__item и другие
                .team__row
                    .team__post 
                        | Также мы привлекаем к работе других специалистов из российских и международных компаний и институтов, специализирующихся в различных областях горнодобывающего и промышленного производства.
                    .team__coment
                        | Таким образом, многопрофильный состав наших экспертов обеспечивает использование в нашей работе передового российского и международного опыта для выработки независимых и профессиональных решений
