extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-optpgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html')  Опыт работы
                    li.breadcrumbs__item
                        span Оптимизация подземных горных работ
            section.main__description
                h1.main__title--h1  Оптимизация <br> подземных горных работ
                p.main__text Решение вопросов инфраструктуры и доставки руды. Оптимизация транспортных потоков. Сравнение различных технологий и обоснование наиболее эффективных решений.
            section.main__page.page__gallery
                .gallery__wrapper
                    .gallery__slides
                        .gallery__text Планирование подземных работ
                        img(src="img/exp/exp-pgr/exp-pgr-1.png" style="width: 100%")
                    .gallery__slides
                        .gallery__text Оценка рисков опасных геопроцессов
                        img(src="img/exp/exp-pgr/exp-pgr-2.png" style="width: 100%")
                    .gallery__slides
                        .gallery__text Оценка рисков опасных геопроцесс
                        img(src="img/exp/exp-pgr/exp-pgr-3.png" style="width: 100%")

                    a.gallery__prev(onclick="plusSlides(-1)") &#10094;
                    a.gallery__next(onclick="plusSlides(1)") &#10095;
                    .gallery__caption-wrapper
                        p#caption
                    .gallery__thumbnail-wrapper
                        .gallery__thumbnail 
                            img.gallery__image.cursor(src="img/exp/exp-pgr/exp-pgr-1.png" style="width: 100%" onclick="currentSlide(1)")
                        .gallery__thumbnail
                            img.gallery__image.cursor(src="img/exp/exp-pgr/exp-pgr-2.png" style="width: 100%" onclick="currentSlide(2)" )
                        .gallery__thumbnail
                            img.gallery__image.cursor(src="img/exp/exp-pgr/exp-pgr-3.png" style="width: 100%" onclick="currentSlide(3)")
            script(type="text/javascript").
                var slideIndex = 2;
                showSlides(slideIndex);

                // Next/previous controls
                function plusSlides(n) {
                  showSlides(slideIndex += n);
                }

                // Thumbnail image controls
                function currentSlide(n) {
                  showSlides(slideIndex = n);
                }

                function showSlides(n) {
                  var i;
                  var slides = document.getElementsByClassName("gallery__slides");
                  var dots = document.getElementsByClassName("gallery__image");
                  var captionText = document.getElementById("caption");

                  if (n > slides.length) {
                    slideIndex = 1
                    }
                  if (n < 1) {
                    slideIndex = slides.length
                    }
                  for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                  }
                  for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                  }
                  slides[slideIndex-1].style.display = "block";
                  dots[slideIndex-1].className += " active";
                  captionText.innerHTML = dots[slideIndex-1].alt;
                };
        