extends ../../layout/layout
block content
    main.main
        .main__content
            .breadcrumbs.epx-pgr__breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__root
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html')  Опыт работы
                    li.breadcrumbs__item
                        span Гирдрогеологическое моделирование
            section.main__description
                h1.main__title--h1  Гирдрогеологическое моделирование
                p.main__text С помощью современного программного обеспечения определение схемы управления водопритоками, ВЗТ, влияния на устойчивость массива и параметры ведения горных работ.
            section.main__page.page__lightbox
                .lightbox__wrapper
                    .lightbox__item
                        img(src="img/exp/exp-gidrogeo/exp-gidrogeo.jpg" id="expgidrogeo1" alt="Разработка ресурсной модели по градации Net Smelter Return (NSR)" ).lightbox__image
    .lightbox__modal#lb_modal
        span.lightbox__close &times;
        img.lightbox__content#lb__img01
        .lightbox__caption#lb__caption
                
                    