footer.footer(style='margin-top: auto;')
    .footer__wrapper
        .footer__copyright
            p Все права защищены "GMC" 2018
        .footer__partners
            p.partners__text Наши партнеры:
            ul.partners__list
                a(href='http://www.giprocm.ru/' target='_black')
                li.partners__item.partner_one
                li.partners__item.partner_two
                li.partners__item.partner_three
        .footer__madeby
            a.madeby__link(href='#')
                img(src='img/5th.png' alt='Пятое измерение' width='33' height='40')
                p.madeby__text
                    | Создание сайта
                    br
                    |  "Пятое измерение" 2018
