header.header
    #header__menu.header__menu.menu__wrapper.header__menu--closed
        .menu__logo
            a(href='/index.html')
                img(src='img/logos/header-logo-2.svg' class='logo__img' alt='')
        .menu__mobile
            #menu__nav.menu__nav
                ul.nav__list
                    li.nav__item.nav__item--about.nav__dropdown.main-item(href='javascript:void(0)' tabindex="1" )
                        a.nav__link.nav__dropdown--open Компания
                        .nav__submenu
                            ul.submenu__list
                                li.submenu__item
                                    .submenu__content
                                        h3 Компания
                                        ul
                                            li
                                                a(href='/about.html') О компании
                                            li
                                                a(href='/team.html') Наша команда
                                            li
                                                a(href='/jobs.html') Вакансии

                    ul.submenu__mobile
                        li.mobile__item
                            a(href="/about.html").mobile__link О компании
                        li.mobile__item
                            a(href="/team.html").mobile__link Наша команда
                        li.mobile__item
                            a(href="jobs.html").mobile__link Вакансии
                    li.nav__item.nav__dropdown
                        a.nav__link.nav__link--dropdown.nav__dropdown--open(href='/services.html') Услуги
                        .nav__submenu
                            ul.submenu__list
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Горно-геологический аудит
                                            ul
                                                li
                                                    //- a(href='') Due Dilligence
                                                li
                                                    //- a(href='') Заключения
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Инженерно-технический консалтинг
                                            ul
                                                li
                                                    //- a(href='') ТЭО
                                                li
                                                    //- a(href='') Bankable Feasibility Study
                                                li
                                                    //- a(href='') Pre-feasibility Study
                                                li
                                                    //- a(href='')
                                                    //-     | Оптимизация горных работ и планов развития,
                                                    //-     | повышение производительности
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='#')
                                            h3 Инженерное проектирование
                                            ul
                                                li
                                                    //- a(href='') Разработка проектной и предпроектной документации
                                                li
                                                
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='#')
                                            h3 Моделирование
                                        ul
                                            li
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Сопровождение исследований
                                            ul
                                                li
                                                    //- a(href='') QA\QC геологоразведочных работ
                                                li
                                                    //- a(href='')
                                                    //-     | Сопровождение инженерных, геологических,
                                                    //-     | экологических изысканий
                                                li
                                                    //- a(href='')
                                                    //-     | Сопровождение НИР, разработки
                                                    //-     | технологических регламентов
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Переработка полезных ископаемых
                                            ul
                                                li
                                                    //- a(href='') Дробление
                                                li
                                                    //- a(href='') Сепарация
                                                li
                                                    //- a(href='') Обогащение
                                                li
                                                    //- a(href='') Металлургия и др.
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Инвестиционный анализ
                                            ul
                                                li
                                                    //- a(href='') Содействие в освоении минерально-сырьевых проектов
                                                li
                                                    //- a(href='') Сопровождение развития проекта
                                                li
                                                    //- a(href='') OER/LER
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Социальное и экологическое воздействие
                                            ul
                                                li
                                                    //- a(href='') Экология и рекультивация
                                                li
                                                    //- a(href='') ESIA
                                                li
                                                    //- a(href='') Оценка воздействия
                                                li
                                                    //- a(href='') Промышленная безопасность и охрана труда
                                li.submenu__item
                                    .submenu__content.submenu__title-link
                                        a(href='')
                                            h3 Планирование инфраструктуры производства
                                            ul
                                                li
                                                    //- a(href='') Оптимизация ситуационного плана и расположения промплощадок
                                                li
                                                    //- a(href='') Посёлки, дороги/сообщение, здания и сооружения
                                                li
                                                    //- a(href='') Водоснабжение и водоотведение, энергоснабжение и др.
                    li.nav__item
                        a.nav__link(href='#') Опыт работы
                    li.nav__item
                        a.nav__link(href='/documents.html') Документы
                    li.nav__item
                        a.nav__link(href='/contacts.html') Контакты
            #menu__user.menu__user
                ul.user
                    li.user__item.user__item--phone
                        a.user__link(href='tel:+74993901214') +7 (499) 390-1214
                    li.user__item.user__item--mail
                        a.user__link(onclick="document.getElementById('popup').style.display='block'")
                            span.user__item--text Связаться с нами
                            span.fas.fa-envelope-open
                    li.user__item.user__item--lang
                        select#lang.user__select(name='language')
                            option(value='ru') ru
                            option(value='eng') eng
        .blocker
        .menu__phone--mobile
            a(href='tel:+74993901214')
                span +7 (499) 390-1214
        #open-menu.menu__burger
            .burger__icon




