.breadcrumbs
	font-size: 14px
	line-height: 24px
	padding: 60px 0 0
	@media(max-width: $screen-sm)
		font-size: 12px
		line-height: 18px
		padding: 30px 0 0


.breadcrumbs__list
	display: flex
	align-items: center
	list-style: none


.breadcrumbs__root,
.breadcrumbs__item:not(:last-of-type)
	position: relative
	&:after
		position: absolute
		top: 40%
		transform: translateY(-50%)
		transform: rotate(-45deg)
		right: 6px
		content: ''
		width: 4px
		height: 4px
		border-right: 1px solid #000
		border-bottom: 1px solid #000
		@media(max-width: $screen-sm)
			right: 2px 

.breadcrumbs__root a,
.breadcrumbs__item a 
	color: #000
	margin-right: 17px
	text-decoration: none
	border-bottom: 1px solid #808080
	&:hover
		color: #808080 
		border-bottom: 1px solid black

.breadcrumbs__root a,
.breadcrumbs__item a
	color: #000

.breadcrumbs__item
	color: #808080
	@media(max-width: $screen-sm)
		margin-left: 15px

