// .contacts__wrapper
// 	border: 1px solid red
// .contacts__map
// 	border: 1px solid green
// .contacts__hero
// 	border: 1px solid blue
// .contacts__info
// 	border: 1px solid black
// .contacts__adress
// 	border: 1px solid pink
// .contacts__form
// 	border: 1px solid orange
// .contacts__text
// 	border: 1px solid pink
// .contacts__info
// 	border: 1px solid black
// .contacts__adress
// 	border: 1px solid red
// .contacts__city
// 	border: 1px solid green

.contacts__wrapper
	position: relative

.contacts__title
	top: 50px
	left: 150px
	font-size: 72px
	line-height: 90px
	@media(max-width: $screen-sm)
		font-size: 36px
		left: 48px
		top: 25px
		left: 50px

.contacts__hero
	background-image: url("../img/hero-img.jpg")
	background-size: cover


.contacts__title
	position: absolute

.contacts__map
	width: 100vw
	height: 40vh
	iframe
		width: 100%
		height: 100%

.contacts__info
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	position: relative
	left: 0
	bottom: 0
	height: 60vh
	@media(min-width: $screen-xl)
		padding-right: 20%
	@media(max-width: $screen-md)
		height: auto
		flex-flow: column
		padding-right: 0

.contacts__adress
	background: #fff
	width: 60%
	padding: 50px 120px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	align-items: flex-start
	@media(max-width: $screen-xl)
		padding: 50px
	@media(max-width: $screen-md)
		flex-flow: column
		width: 100%
		padding: 25px


.contacts__adress--moscow,
.contacts__adress--almati
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-bottom: 25px
	width: 100%

.contacts__city
	padding: 0 50px
	font-size: 24px
	line-height: 18px
	flex: 30% 0 0
	@media(max-width: $screen-md)
		padding: 25px 0

.contacts__text
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	flex: 70% 0 0
	justify-content: space-between
	align-items: flex-start
	padding: 0 25px
	a
		margin-bottom: 25px
		color: #000
		text-decoration: none
		font-weight: bold
	@media(max-width: $screen-md)
		padding: 25px 0

.contacts__form
	overflow: hidden
	width: 40%
	.feedback
		padding: 50px 80px
		margin: 0
		width: 100%
		min-width: 1px
		height: auto
		@media(max-width: $screen-md)
			padding: 25px
	.feedback__wrapper

		h2
			font-size: 24px
			line-height: 36px
			margin-bottom: 20px
		input
			padding: 15px 15px

	@media(max-width: $screen-md)
		width: 100%
