.docs__title
	z-index: 1
	position: absolute
	top: 5.6%
	left: 18.3%

	min-height: 90px
	border-bottom: 2px solid #838891

	font-size: 65px
	line-height: 75px
	font-weight: bold
	@media(max-width: 560px)
		top: 50px
		left: 30px
		font-size: 24px
		line-height: 30px
		min-height: 40px
	@media(min-width: 561px) and (max-width: 960px)
		top: 5%
		left: 18.3%
		font-size: 42px
		line-height: 48px
		min-height: 40px
	@media(min-width: 961px) and (max-width: 1380px)
		top: 5%
		left: 18.3%
		font-size: 48px
		line-height: 56px
		min-height: 40px

.docs__slider
	padding: 0 15.55% 0 9.5%
	display: block
	width: 100%
	
	.slick-list
		height: 100%

	@media(max-width: 560px)
		padding: 0
		width: 80%
		overflow: visible
		.slick-list
			overflow: inherit
			height: 100%

.docs__slider .d-slider__slide
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	justify-content: flex-start
	align-items: flex-start
	min-height: 625px
	width: 100%	
	padding: 160px 30px 0 30px

	border-left: 1px solid #585f6b
	border-right: 1px solid #585f6b
	
	font-size: 16px
	line-height: 30px
	@media(max-width: 560px)
		font-size: 14px
		line-height: 26px
		padding: 45% 30px 0 30px
		min-height: 480px
	@media(min-width: 560px) and (max-width: $screen-lg)
		padding: 140px 30px 0 30px
		min-height: 525px

	h3
		width: 80%
		font-size: 24px
		line-height: 36px
		margin-bottom: 50px
		@media(max-width: 1380px)
			width: 100%
			font-size: 16px
			line-height: 24px
			margin-bottom: 25px

		a
			color: #fff
			text-decoration: none
			border-bottom: 1px solid $border-color

			&:hover
				border-bottom: 1px solid #fff

	p
		width: 80%
		@media(max-width: 1380px)
			width: 100%

	&:hover
		background-color: #0080cb


//* BEGIN SLIDER STYLES *//

.d-slider .slick-prev,
.d-slider .slick-next
    z-index: 30
    font-size: 0
    line-height: 0

    position: absolute
    top: 50%

    display: block
    height: 100%
    padding: 0
    -webkit-transform: translate(0, -50%)
    -ms-transform: translate(0, -50%)
    transform: translate(0, -50%)

    cursor: pointer

    color: #fff
    outline: none
    background-color: #4d5462

.d-slider .slick-prev:hover,
.d-slider .slick-next:hover
    background: #0080cb


.d-slider .slick-prev:hover:before
	opacity: 1


.d-slider .slick-next:hover:before
	opacity: 1


.d-slider .slick-prev
	left: 0
	width: 9.6%
	border-right: 1px solid #585f6b

	@media(max-width: 1380px)
		width: 9.4%

.d-slider .slick-prev:before
    content: url(../img/icons/arrow-prev.png)
    opacity: 0.4

.d-slider .slick-next
	right: 0
	width: 17.8%
	border-left: 1px solid #585f6b
	@media(min-width: $screen-sm + 1) and (max-width: 1380px)
		right: 0
		width: 17.8%
    
 

.d-slider .slick-next:before
	content: url(../img/icons/arrow-next.png)
	position: absolute
	left: 60px
	top: 50%
	transform: translateY(-50%)
	opacity: 0.4

    

/* Dots */
.d-slider .slick-dotted.slick-slider
    margin-bottom: 0px

.d-slider .slick-dots
    position: absolute
    bottom: 12%
    left: 20%

    display: block

    padding: 0
    margin: 0

    list-style: none

    text-align: left
    @media(max-width: $screen-sm)
    	left: 10%
    	bottom: 5%

    @media(min-width: $screen-sm) and (max-width: 1380px)
    	bottom: 6%
    	left: 15%


.d-slider .slick-dots li

    position: relative

    display: inline-block

    width: 175px
    height: 5px
    margin: 0 1px
    padding: 0

    background-color: #bdbdbd

    cursor: pointer

    @media(max-width: $screen-sm)
    	width: 45px
    	height: 5px

    @media(min-width: $screen-sm) and (max-width: 1380px)
    	width: 75px
    	height: 5px



.d-slider .slick-dots li button

    font-size: 0
    line-height: 0

    display: block

    width: 20px
    height: 20px
    padding: 1px

    cursor: pointer

    color: transparent
    border: 0
    outline: none
    background: transparent


.d-slider .slick-dots li.slick-active 

    opacity: 1
    background-color: #3a414f

.d-slider .slick-track 
	height: 100%

	
