//* Temporally for test purposes *//

.blocker
	position: absolute
	width: 100%
	height: 100%
	background-color: #2b303a

//* END *//

.exp__wrapper
	position: absolute
	z-index: 0
	top: -200px
	left: 9.5%
	width: 80%
	height: 710px
	background-color: #3a414f
	overflow: hidden
	@media(max-width: $screen-sm)
		top: 0
		left: 0
		width: 100%
		height: 100%
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		left: 10%
		width: 90%
		top: -100px
		max-height: 510px

.exp__video
	position: relative
	width: 70%
	height: 100%
	margin-left: 30%
	background-color: #000
	background-size: cover
    overflow: hidden
	@media(max-width: $screen-sm)
		margin-left: 0
		height: 60%
		width: 100%
	       
.exp__list 
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	justify-content: space-between

	position: absolute
	z-index: 5
	top: 17%
	right: 5%
	height: 66%
	width: 298px

	list-style: none
	@media(max-width: 480px)
		justify-content: space-between
		flex-wrap: wrap
		width: 90%
		padding: 15px
		top: 35%
		left: 0
		max-height: 50%
	@media(min-width: 481px) and (max-width: $screen-sm)
		justify-content: space-between
		flex-wrap: wrap
		width: 80%
		padding: 25px
		top: 40%
		left: 0
		max-height: 50%
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		width: 40%
		right: 5%



.exp__item
	@media(max-width: $screen-sm)
		width: 40%
		padding: 5px 0

.exp__item a
	font-size: 18px
	line-height: 24px
	font-weight: normal
	color: #fff
	text-decoration: none
	text-transform: uppercase
	border-bottom: 1px solid rgba(255,255,255,0.5)
	&:hover
		border-bottom: 1px solid #fff
	@media(max-width: $screen-sm)
		font-size: 14px
		line-height: 18px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		font-size: 16px
		line-height: 22px



.exp__image
	position: absolute
	pointer-events: none
	top: 0
	left: 0
	z-index: 3
	width: 100%
	height: 100%
	opacity: 0



.exp__content
	position: absolute
	top: 14%
	left: 10.6%

	z-index: 3

	width: 70%
	height: 488px

	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	align-items: flex-start
	@media(max-width: $screen-sm)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding: 50px 25px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-xl)
		height: 90%
		top: 10%
		left: 10%
		width: 60%
	
	h2
		max-width: 80%
		font-size: 65px
		line-height: 75px
		font-weight: bold

		margin-bottom: 47px
		@media(max-width: $screen-sm)
			min-width: 70%
			font-size: 24px
			line-height: 30px
			margin-bottom: 17px
		@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
			max-width: 85%
			font-size: 32px
			line-height: 44px
			margin-bottom: 17px
		@media(min-width: $screen-lg + 1) and (max-width: $screen-xl)
			font-size: 44px
			line-height: 56px
		@media(min-width: $screen-xl + 1)
			font-size: 48px


	p
		width: 70%
		font-size: 16px
		line-height: 30px
		padding-left: 5px
		margin-top: auto
		@media(max-width: $screen-sm)
			width: 100%
			max-width: 320px
			font-size: 14px
			line-height: 24px
			padding-left: 0
		@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
			width: 80%
			font-size: 14px
			line-height: 24px
		@media(min-width: $screen-lg + 1) and (max-width: $screen-xl)
			margin-top: auto


	a
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		margin-top: auto

		font-size: 18px
		line-height: 24px
		color: #fff
		text-decoration: none
		@media(max-width: $screen-sm)
			margin-top: 25px
		@media(min-width: $screen-sm + 1) and (max-width: $screen-xl)
			margin: 50px 0

		svg
			fill: #fff
		
		span
			margin-left: 25px
			text-decoration: underline
			text-decoration-color: rgba(255,255,255,0.5)

		&:hover > span
			text-decoration-color: #fff

		&:hover > svg
			fill: rgba(255,255,255,0.5)

.video
    right: 0
    bottom: 0
    height: 100%
    width: auto
    overflow: hidden


#stk-video
	z-index: 0
	width: auto
	height: 90%
	transform: scale(1.3, 1.3)
	opacity: 0.5



		







