// Borders
// .page__gallery
// 	border: 1px solid red

// .gallery__wrapper
// 	border: 1px solid green

// .gallery__slides
// 	border: 1px dashed black

// .gallery__caption-wrapper
// 	border: 1px solid orange

// .gallery__thumbnail-wrapper
// 	border: 1px solid blue

// .gallery__image
// 	border: 1px dashed teal

// End of borders


.gallery__wrapper
	position: relative
	margin: 0 auto
	padding-bottom: 125px
	max-width: 1200px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	align-items: center


.gallery__slides
	display: none
	transition: 1s
	height: 650px
	width: 80%
	@media(max-width: $screen-lg)
		width: 100%
		height: 550px
	@media(max-width: $screen-md)
		width: 100%
		height: 450px
	@media(max-width: $screen-sm)
		width: 100%
		height: 350px

.gallery__image
	cursor: pointer
.gallery__prev,
.gallery__next
	position: absolute
	top: 40%
	transform: translate(0, -50%)
	width: auto
	padding: 16px
	color: #2b303a
	font-weight: bold
	font-size: 42px
	border-right: 0 5px 5px 0
	user-select: none
	cursor: pointer
	text-decoration: none
	&:hover
		opacity: 0.8

.gallery__next
	right: -10%

.gallery__prev
	left: -10%

.gallery__text
	text-align: center
	background-color: #2b303a
	font-size: 22px
	padding: 5px 16px
	color: #fff

.gallery__image
	width: 100%
	height: 100%

.gallery__thumbnail-wrapper
	max-width: 80%
	margin: 0 auto
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	width: 100%

.gallery__thumbnail
	padding: 0
	margin: 0
	height: 100%
	margin: 0 5px

	img
		height: auto





