.feedback
	position: relative
	margin: 5% auto 32% auto
	padding: 70px 65px
	width: 30%
	min-width: 500px
	height: 700px
	background-color: #fff
	color: $text-color

	h2
		font-size: 36px
		line-height: 48px
		margin-bottom: 35px

	p
		width: 100%
		font-size: 14px
		line-height: 18px
		text-align: justify
		margin-top: 25px
		color: #8f8f8f

	textarea 
		resize: none

input[type=text],
input[type=email],
textarea 
	width: 100%
	padding: 20px 15px
	margin-bottom: 16px
	display: inline-block
	color: #000
	border: 1px solid #cacaca
	&::-webkit-input-placeholder 
		color: #8f8f8f
	&::-moz-placeholder 
		color: #8f8f8f
	&:-ms-input-placeholder 
		color: #8f8f8f
	&:-moz-placeholder 
		color: #8f8f8f

.feedback .feedback__email
	margin-bottom: 35px

.form__submit
	width: 100%
	height: 55px
	border: none
	background-color: #0080cb
	color: #fff
	font-size: 24px
	line-height: 48px

.feedback__close
	position: absolute
	top: 15px
	right: 20px

	font-size: 24px
	color: #0080cb
	background: none
	border: none
	&:hover
		opacity: 0.7
	&:active
		color: #8f8f8f

