.jobs_container
  display: flex
  justify-content: space-between
  height: 100vh
  padding: 0 10% 5% 10%
  color: #2b303a
  @media(max-width: $screen-xl)
    padding: 0 0 5% 5%
  @media(max-width: $screen-md)
    flex-flow: column
    justify-content: left
  h1
    font-size: 75px
    line-height: 90px
    font-weight: bold
    padding: 5% 10%
    @media(max-width: $screen-md)
      font-size: 40px
      line-height: 20px
  p
    font-size: 24px
    line-height: 36px
  .jobs__title_pos
    margin-top: 60px
  .jobs__p_pos
    margin-top: 80px

.jobs__staff
  a
    display: block
    padding-top: 5px
    font-size: 14px
    text-decoration: none
    color: #2b303a
    @media(max-width: $screen-md)
      flex-flow:
      justify-content: left
  p
    font-family: "Open Sans"
    padding-top: 40px
    @media(max-width: $screen-xl)
      padding-top: 25px
      font-size: 22px
    @media (max-width: $screen-lg)
      padding-top: 15px
      font-size: 16px
    @media (max-width: $screen-md)
      font-size: 14px
    @media screen and (max-width: $screen-xs)
      font-size: 30px
  img
    width: 380px
    height: 450px
    @media (max-width: $screen-lg)
      margin-top: 7%
      width: 250px
      height: 300px
    @media (max-width: $screen-xs)
        display: none

