.main
	z-index: 0

.main__title--h1
	font-size: 66px
	line-height: 82px
	margin: 30px 0
	color: #2b303a
	@media(min-width: $screen-lg + 1)
		font-size: 56px
		line-height: 72px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		font-size: 48px
		line-height: 56px
	@media(min-width: 481px) and (max-width: $screen-sm)
		font-size: 38px
		line-height: 48px
	@media(max-width: 480px)
		font-size: 26px
		line-height: 36px

.main__text
	font-size: 24px
	line-height: 36px
	margin: 60px 0
	color: #2b303a
	@media(min-width: $screen-lg + 1)
		padding: 0
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		padding: 0px 10%
	@media(max-width: $screen-sm)
		padding: 0px 10%
	@media(max-width: 480px)
		font-size: 16px
		line-height: 24px
		margin: 45px 0

.main__wrapper
	position: relative
	z-index: 999
	width: 100vw
	background: linear-gradient(to top, #2b303a, #2b303a 70%, #3b424f)
	pointer-events: none
	@media(min-width: $screen-xl)
	    min-height: 1600px

.main__services
	width: 80%
	height: 98%
	position: absolute
	z-index: 5
	@media(max-width: $screen-sm)
		width: 100%
		height: auto
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
		width: 95%
		height: 70%
		min-height: 1400px

.main__features
	position: relative
	z-index: 
	height: 1045px
	width: 100vw
	z-index: 100
	h2,
	p
		color: #000
	@media(max-width: $screen-sm)
		max-height: 435px
	@media(min-width: $screen-sm) and (max-width: $screen-lg)
		max-height: 825px
	@media(min-width: $screen-lg + 1) and (max-width: 1560px)
		max-height: 1025px

.main__projects
	box-sizing: border-box
	width: 100%
	position: relative
	border: 1px solid transparent

.main__exp
	position: relative
	width: 100vw
	height: 410px
	background-color: #2b303a
	color: #fff
	z-index: 999
	@media(max-width: $screen-sm)
		min-height: 825px
	@media(min-width: $screen-lg)
		min-height: 510px


.main__docs
	position: relative
	z-index: 100
	width: 100vw
	background-color: #4d5462
	color: #fff

.main__modal
	position: fixed
	top: 0
	left: 0
	z-index: 999999
	display: none
	width: 100vw
	height: 100vh
	background-color: rgba(0,0,0, 0.75)

.main__content
	background-color: #fff
	padding: 0 10% 5%