//* Custom slick arrows *//

.p-slider .slick-prev,
.p-slider .slick-next
	transition: all 0.795s
	transition-delay: 0.2s
	transition-timing-function: linear
	background-color: #4d5462
	@media(max-width: 480px)
		background-color: transparent

.f-slider .slick-prev:hover:before,
.f-slider .slick-next:hover:before
    opacity: 1

.p-slider .slick-prev
    left: -15%
    height: 100%
    width: 15.7%
    opacity: 1
    @media(max-width: $screen-sm)
    	z-index: 10
    	pointer-events: all
    	left: 0
    	width: 20px
    @media(min-width: $screen-sm + 1) and (max-width: $screen-lg)

    		left: -15%
    		width: 15%

.p-slider .slick-prev:before
    content: url(../img/icons/arrow-prev.png)
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

@media(max-width: $screen-sm)
	.p-slider .slick-prev:before
    	content: url(../img/icons/arrow-prev-small.png)

.p-slider .slick-next
	width: 21%
	height: 100%
	right: 1px

@media(max-width: $screen-sm)
	.p-slider .slick-next
    	width: 20px

.p-slider .slick-next:before
	content: url(../img/icons/arrow-next.png)
	position: absolute
	left: 50%
	top: 47%
	transform: translate(-50%, -50%)

@media(max-width: $screen-sm)
	.p-slider .slick-next:before
		content: url(../img/icons/arrow-next-small.png)

//* End of Slick arrows *//


.projects__wrapper

	position: relative
	width: 57%
	top: 650px
	left: 32%
	pointer-events: all
	@media(max-width: 1760px)
		width: 100%
		height: 100%
		margin: 0
		top: 0
		left: 0
	@media(min-width: 1760px)
		top: 650px



.projects__hero
	width: 100%
	min-height: 863px
	background: url(../img/projects.jpg) center center no-repeat
	background-size: cover
	transform-origin: left bottom
	transition-duration: 1s
	transition-timing-function: linear
	border-bottom: 1px solid #fff
	@media(max-width: $screen-sm)
		margin-top: 0
		min-height: 450px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		min-height: 1150px
		margin-top: 493px
	@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
		min-height: 1100px
		margin-top: 493px
	@media (min-width: $screen-lg +1) and (max-width: 1760px)
	    min-height: 1150px
    	margin-top: 577px
	@media(min-width: 1761px)
		margin-top: 11px


@media(min-width:1760px)
	.projects__wrapper:hover > .projects__hero
		transform: scale(1.2)


@media(min-width:1760px)
	.projects__wrapper:hover .slick-next
		transform: translate(100%, -50%)
		transition: all 0.9s
		transition-timing-function: linear

.projects__title
	position: absolute
	
	max-width: 50%
	font-size: 65px
	line-height: 75px
	font-weight: bold
	color: #fff
	@media(max-width: 480px)
		max-width: 70%
		left: 30px
		top: 150px
		font-size: 26px
		line-height: 30px
	@media(min-width: 481px) and (max-width: $screen-sm)
		width: 70%
		max-width: 270px
		left: 30px
		top: 150px
		font-size: 32px
		line-height: 40px
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		left: 45%
		top: 45%
		max-width: 50%
		font-size: 48px
		line-height: 62px
	@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
		left: 45%
		top: 45%
		max-width: 50%
		font-size: 48px
		line-height: 62px
	@media(min-width: $screen-lg + 1) and (max-width: 1759px)
		left: 45%
		top: 35%
		max-width: 40%
		font-size: 56px
		line-height: 68px
	@media(min-width: 1760px)
		max-width: 60%
		font-size: 65px
		line-height: 75px
		left: 15%
		bottom: 17%

.projects__slider-wrap
	position: absolute
	z-index: 99999
	bottom: -27.6%
	width: 100%
	padding-left: 13%
	@media(max-width: $screen-sm)
		position: relative
		bottom: auto
		padding-left: 0
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
		bottom: 0


.projects__slider
	display: block
	height: 310px
	width: 100%
	color: #fff
	background-color: #4d5462
	@media(max-width: 525px)
		max-height: 360px
	@media(min-width: 526px) and (max-width: 1380px)
		height: 200px
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
		padding-right: 20%

.projects__tabs
	position: absolute
	top: -56px
	left: 173px
	z-index: 9
	@media(max-width: $screen-sm)
		top: -100px
		left: 30px
		bottom: 0px
		max-height: 100px
		width: 100%
		max-width: 280px

.projects__tab
	border: none
	font-size: 18px
	line-height: 24px
	color: #fff
	background-color: transparent
	margin-right: 30px
	@media(max-width: $screen-sm)
		padding: 10px 0

.projects__tab--active > span
	position: relative

.projects__tab--active > span::before
	z-index: 999999999
	display: block
	content: ''
	position: absolute
	width: 100%
	height: 6px
	background-color: #fff
	bottom: -31px
	left: 0
	@media(max-width: $screen-sm)
		bottom: -10px

.p-slider 
	width: 100%

.p-slide 
	height: 100%
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-around
	align-items: flex-start
	padding: 45px 0
	@media(max-width: 525px)
		flex-flow: column
		padding: 30px

	@media(min-width: $screen-sm) and (max-width: 1760px)
		padding: 30px 0

.p-slide__title
	width: 28%
	font-size: 16px
	line-height: 26px
	@media(max-width: $screen-sm)
		width: 90%
		padding-left: 0
		h3
			line-height: 22px
			font-weight: bold
			font-size: 18px	
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
	    width: 30%
	    word-break: break-word
    	

.p-slide__text
	width: 42%	
	font-size: 14px
	line-height: 22px
	padding-left: 10px
	@media(max-width: $screen-sm)
	    line-height: 18px
	    width: 100%
	    margin-left: 0
	    font-size: 14px
	    max-width: 90%
	    margin-bottom: 20px
	    padding-left: 0
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
	    width: 40%

	h4
		font-size: 16px
		line-height: 30px
		font-weight: bold
		@media(min-width: $screen-sm + 1)
			font-size: 18px
			line-height: 34px
			margin-bottom: 10px

.p-slide__place
	width: 15%
	@media(max-width: 1380px)
		width: 40%
		font-size: 14px
		line-height: 18px
		@media(max-width: $screen-sm)
			margin-left: 0
	@media(min-width: $screen-sm + 1) and (max-width: 1760px)
		width: 30%

	h4
		font-size: 16px
		line-height: 30px
		font-weight: bold

