.services__list
	position: absolute
	pointer-events: none
	height: 100%
	width: 90%
	top: -130px
	left: 10%
	display: flex
	flex-flow: row
	flex-wrap: wrap
	justify-content: flex-start
	align-content: flex-start
	list-style: none
	@media(max-width: $screen-sm)
		width: 100%
		left: 0
		height: auto
		overflow-x: auto
		flex-wrap: nowrap
		top: -75px
		padding-right: 25px
		pointer-events: auto
	@media(min-width: $screen-sm + 1) and (max-width: $screen-lg)
		width: 100%
		left: 10%

.services__item
	pointer-events: all
	box-sizing: border-box
	border: 1px solid #000
	position: relative
	pointer-events: all
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-flow: column
	align-items: flex-start
	width: 33.3%
	height: 25.25%
	background-color: #fff
	margin: 0
	padding: 45px
	overflow: hidden
	@media(max-width: $screen-sm)
		flex: 0 0 60%
		max-width: 210px
		min-height: 160px
		height: auto
		padding: 15px
		
		overflow-y: scroll
	@media(min-width: $screen-sm + 1)
		padding: 35px
		min-height: 290px

	p
		width: 100%
		color: #000
		font-size: 16px
		line-height: 27px
		margin-top: auto
		margin-bottom: 10px
		@media(max-width: $screen-sm)
			font-size: 12px
			line-height: 18px
			margin-bottom: 10px
		
	ul
		position: absolute
		top: 60px
		transform: translateY(130%)
		list-style: none
		width: 78%
		@media(max-width: $screen-lg)
			position: relative
			transform: none
			margin-top: 0
			top: 45px
			overflow: visible
			width: 100%
			height: auto
			li
				padding: 5px 0
		@media(min-width: $screen-sm + 1) and (max-width: 1380px)
			margin-top: 40px
		li
			padding: 20px 0
			@media(max-width: 1760px)
				padding: 5px 0

	

	@media(max-width: 1200px)
		background-color: #0080cb
		ul
			margin-top: 0
			padding: 0

			li
				width: 100%
				padding: 10px 0
				@media(max-width: $screen-sm)
					padding: 10px
			li:not(:last-of-type)
				border-bottom: 1px solid #66b3e0
				@media(max-width: 1760px)
					border-bottom: none

			a
				h3
					color: red
					margin-bottom: 25px

		p
			opacity: 0
		a
			border-bottom: 1px solid #66b3e0
			opacity: 1
			&:hover
				border-bottom: 1px solid #fff

.services__item a
	@media(max-width: $screen-sm)
		font-size: 18px
		font-weight: bold
		line-height: 26px
		margin-bottom: 0
		color: #fff
	@media(min-width: $screen-sm + 1) and (max-width: $screen-md)
		margin-bottom: 25px
		font-size: 24px
		font-weight: bold
		line-height: 36px
		margin-bottom: 0
		color: #fff
	@media(min-width: $screen-md + 1) and (max-width: $screen-lg)
		font-size: 28px
		font-weight: bold
		line-height: 48px
		color: #fff
	@media(min-width: $screen-lg + 1) and (max-width: 1760px)
		font-size: 32px
		font-weight: bold
		line-height: 48px
		color: #000
	@media(min-width: 1761px)
		font-size: 36px
		line-height: 48px
		font-weight: bold

.services__title-link
	font-size: 32px
	line-height: 48px
	color: #000
	text-decoration: none
		

.services__item:hover
	@media(min-width: $screen-lg)
		background-color: #0080cb
		// padding-top: 0
		transition-duration: 0s
		ul
			display: none
			transition-duration: 0.5s
			li
				width: 100%
				padding: 15px 0
				@media(max-width: $screen-sm)
					padding: 5px 0
			li:not(:last-of-type)
				border-bottom: 1px solid #66b3e0
				@media(max-width: $screen-sm)
					border-bottom: none
		
		h3
			// transform: translateY(-100%) translateY(22px)
			transform: translateX(2%)
			transition-duration:  0.5s
			transition-property: transform
			a
				color: #fff
			@media(max-width: $screen-lg)
				padding-top: 35px
				transform: none
		p
			opacity: 0
		a
			border-bottom: 1px solid #66b3e0
			opacity: 1
			&:hover
				border-bottom: 1px solid #fff
		

.services__item:nth-of-type(8)
	margin-right: 10%
	@media(max-width: $screen-sm)
		margin-right: 0

.services__item:first-of-type
	@media(max-width: $screen-sm)
		margin-left: 25px
