.team_container
    padding: 0 20% 0 10%
    color: #2b303a
    @media(max-width: $screen-md)
        padding: 0  2% 0
    p
        font-size: 24px

.team__list 
    margin: 40px
    list-style: none
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-flow: column
    flex-flow: column
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    font-weight: bold
    li
        font-size: 22px

.team__item
    font-size: 16px
    position: relative
    padding-left: 30px
    padding-bottom: 20px

.team__item:after
    position: absolute
    top: 2px
    left: 0
    content: '—'
    font-size: 20px

.team__head__list
    font-size: 20px
    font-weight: normal


.team__row
    display: flex
    width: 120%
    @media(max-width: $screen-lg)
        flex-flow: column
        flex-wrap: wrap
        width: 100%

.team__post
    font-weight: bold
    font-size: 24px

.team__coment
    margin-left: 5%
    font-size: 22px
    @media(max-width: $screen-lg)
        padding-top: 90px
        margin-left: 0