doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    base(href="../../")

    block link

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    title GMC - Консалтинг в горной промышленности
    script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
body
    .mega-wrapper
        include ../block/header
        block content
        include ../block/footer
        include ../block/popup
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(defer='' src='https://use.fontawesome.com/releases/v5.5.0/js/all.js' integrity='sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0' crossorigin='anonymous')
    script(src='js/slick.min.js')
    script(src='js/main.js')
    script(src='https://cdn.jsdelivr.net/npm/choices.js@4/public/assets/scripts/choices.min.js')
            

            
